
.spotlight {
  background: radial-gradient(600px at 517px 480px, rgba(29, 78, 216, 0.15), transparent 80%);
}

.glow {
    animation: move 5s linear infinite; 
    background: radial-gradient(#67e8f9, #115e59, transparent);
    offset-path: rect(0% auto 100% auto);
}

@keyframes move {
  0% {
    offset-distance: 0%;
  }

    50% {
        offset-distance: 50%;
    }

  100% {
    offset-distance: 100%;
  }


}

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    p > a {
        @apply font-light text-slate-200 hover:text-cyan-400 focus-visible:text-sky-400 decoration-slate-200 decoration-1 underline underline-offset-4 leading-4 hover:decoration-cyan-400 focus-visible:decoration-cyan-400 transition-all duration-300;
    }

    span > a {
      @apply text-slate-300/90 text-sm hover:text-cyan-200 tracking-wide focus-visible:text-cyan-300/70 decoration-slate-200/90 decoration-1 underline underline-offset-2 leading-4 hover:decoration-cyan-200/90 focus-visible:decoration-cyan-400 transition-all duration-300;
    }

    h2 {
      @apply text-sm sm:hidden uppercase block py-4 font-black tracking-widest text-cyan-300;
    }

    menu, ul, li {
        @apply list-none m-0 p-0;
    }


}

