@tailwind base;
@tailwind components;
@tailwind utilities;

*, *::before, *::after {
  box-sizing: border-box;
}
:root {
  --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
    /* Shadcn UI variables for tooltips */
    --primary: 0 0% 9%; /* zinc-900 */
    --primary-foreground: 0 0% 98%; /* zinc-50 */
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
    
    /* Shadcn UI variables for tooltips */
    --primary: 0 0% 9%; /* zinc-900 */
    --primary-foreground: 0 0% 98%; /* zinc-50 */
  }
}

html, body {
  scroll-behavior: smooth;
}





@layer base {
  :root {
  @apply bg-black;
}
  .text-edge-outline {
    -webkit-text-stroke: 1px rgba(255,255,255,0.3);
  }
} 

@layer utilities {
  .gridLine {
  --background: #FFFFFF;
  --color: rgba(0, 0, 0, 0.5);
  --height: 1px;
  --width: 5px;
  --fade-stop: 90%;
  /* Bleed in or out from the container */
  --offset: -100px;

  position: absolute;
  width: calc(100% + var(--offset));
  height: var(--height);
  left: calc(var(--offset) / 2 * -1);
  
  background: linear-gradient(
    to right,
    #FFFFFF,
    #FFFFFF 50%,
    transparent 0,
    transparent
  );
  background-size: var(--width) var(--height);

  /* Fade out the edges */
  mask-composite: exclude;
  -webkit-mask: 
    linear-gradient(
      to left,
      var(--background) var(--fade-stop),
      transparent
    ),
    linear-gradient(
      to right,
      var(--background) var(--fade-stop),
      transparent
    ),
    linear-gradient(black, black);
}
}