

@property --blur {
    syntax: '<length>';
    inherits: true;
    initial-value: 0;
}
@property --x {
    syntax: '<percentage>';
    inherits: true;
    initial-value: 11.11%;
}

@property --rotateX {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;
}

@property --rotateY {
    syntax: '<angle>';
    inherits: true;
    initial-value: 0deg;

}

@property --translateX {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}

@property --translateY {
    syntax: '<length>';
    inherits: true;
    initial-value: 0px;
}



.glass-box-shadow {
    box-shadow: 0 20px 40px 1px rgba(0,0,0,.12), inset 0 -10px 20px -5px rgba(221, 226, 226, 0.3), 0 150px 100px -80px rgba(0,0,0,.4), inset 0 1px 4px hsla(0,0%,100%,.6), inset 0 -1px 1px 1px rgba(0,0,0,.2)
}

.glass-mainframe {
    transform: translateX(var(--translateX)) translateY(var(--translateY)) translateZ(100px) rotateX(var(--rotateX)) rotateY(var(--rotateY));
}

.glass-layer {
    --off-set: 50%;
    -webkit-mask-image: linear-gradient(to right,transparent calc(var(--x) - var(--offset)),#000 calc(var(--x) - var(--offset) / 2),#000 calc(var(--x) + var(--offset) / 2),transparent calc(var(--x) + var(--offset))),linear-gradient(to bottom,transparent 40px,#000 44px,#000 calc(100% - 44px),transparent calc(100% - 40px)),linear-gradient(to right,transparent 40px,#000 44px,#000 calc(100% - 44px),transparent calc(100% - 40px));
    -webkit-backdrop-filter: blur(var(--blur));
    -webkit-mask-composite: destination-in;
}


